.about-container {
  padding-top: 80px;
}

.about-content {
  padding: 50px 40px;
  border-radius: 8px;
  background-color: rgba(#fbf4cd, 0.15);
  overflow: hidden;
}

.about-left {
  width: 50%;
  float: left;
  margin-right: 25px;
}

.about-photo {
  border-radius: 4px;
}

.about-main {
  p {
    line-height: 1.5;
    font-size: 18px;

    & + p {
      margin-top: 15px;
    }
  }
}
